.develop-container{
    background: var(--grey-background);
    padding: 6%;
    text-align: center;
    height: 100vh;
}

.develop-container h1{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.4rem;
    color: var(--color-primary);
    margin-top: 60px;
    margin-bottom: 10px;
}

.develop-icons{
padding: 0 10%;
display: flex;
justify-content: space-around;
}