<div class="twit-background">   
    <a href="https://twitter.com/jusephortiz_" target="_blank">
        <section class="section-photo-names">
            <img src="/assets/img/twitter-perfil.jpg" alt="Imagen de perfil en twitter"
            class="twitt-perfil-photo">
            <div class="twit-names">
                <h3>{{twit.name}}</h3>
                <p>{{twit.username}}</p>
                
            </div>
        </section>
    </a>
    <article>
        <p class="twit-text">{{twit.text}}</p>
        <p class="twit-hashtag">{{twit.hashtag}}</p>
        <div class="twit-icons">
            <app-icon [img]="'chat'"></app-icon>
            <app-icon [img]="'repeat'"></app-icon>
            <app-icon [img]="'heart'"></app-icon>
            <app-icon [img]="'share'"></app-icon>
        </div>
    </article>
</div>
