.twit-background{
    background-color: var(--just-white);
    padding: 10px 15px;
    border-radius: 15px;
    min-width: 240px;
    max-width: 450px;
}

.section-photo-names{
    display: flex;
    margin-bottom: 10px;
}

.twit-names{
    display: inline;
}
.twitt-perfil-photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.twit-names{
    margin-left: 10px;
}

.twit-names h3{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.twit-names p{
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.4ream;
    color: var(--grey-font-dark);
}

.twit-text{
    color: var(--grey-font-dark);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
}
.twit-hashtag{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: blue;
}

.twit-icons{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}

.twit-icons app-icon{
    margin-right: 45px;
}