<div class="contact-container">
    <div class="contact-header">
        <h2 class="contact-title">Contácteme</h2>
        <p>Para contactar puede verificar la información personale que dejo aqui , asi como los enlaces a mis redes sociales. O en otro caso puede llenar el formulario que está mas abajo y enviarme un correo directamente</p>
        <section class="contact-header-information">
            <div class="header-information-section">
                <app-icon [img]="'whatsapp'" [size]="24"></app-icon>
                <p>+5354081085</p>
            </div>
            <div class="header-information-section">
                <app-icon [img]="'mail'" [size]="24"></app-icon>
                <p>acmnhc@gmail.com</p>
            </div>
        </section>
        <div class="contact-header-socialmedia">
            <a href="">linkedin<img src="" alt=""></a>
            <a href="">Twitter<img src="" alt=""></a>
            <a href="">Github<img src="" alt=""></a>
        </div>
    </div>
    <div class="contact-main">
        <form action="">
            <label>Tu nombre</label>
            <input type="text" name="user_name">
            <label>Tu correo</label>
            <input type="email" name="user_email">
            <label>Escribe un mensaje</label>
            <textarea name="message"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</div>