<div class="contact-container">
    <div class="contact-header">
        <h2>Contácteme</h2>
        <p class="contact-text">Para contactar puede verificar la información personale que dejo aqui , asi como los enlaces a mis redes sociales. O en otro caso puede llenar el formulario que está mas abajo y enviarme un correo directamente</p>
    </div>
    <div class="contact-main">
        <section class="contact-header-information">
            <h3>Presiona para ir a..</h3>
            <a  href="https://wa.me/5354081085?text=Hola%20le%20contacto%20para%20" class="header-information-section" target="_blank">
                <div class="img-information">
                    <app-icon [img]="'whatsapp-color'" [size]="30"></app-icon>
                </div>
                <p>+5354081085</p>
            </a>
            <a href="mailto:elcorreoquequieres@correo.com?Subject=Hola%20le%20contacto%20para%20" class="header-information-section">
                <div class="img-information">
                    <app-icon [img]="'gmail-color'" [size]="30"></app-icon>
                </div>
                <p>acmnhc@gmail.com</p>
            </a>
        </section>
        <div class="contact-header-socialmedia">
            <a href="">linkedin<img src="" alt=""></a>
            <a href="">Twitter<img src="" alt=""></a>
            <a href="">Github<img src="" alt=""></a>
        </div>
    </div>
    <!-- <div class="contact-main">
        <form action="">
            <label>Tu nombre</label>
            <input type="text" name="user_name">
            <label>Tu correo</label>
            <input type="email" name="user_email">
            <label>Escribe un mensaje</label>
            <textarea name="message"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</div> -->