<nav class="main-nav-bar" *ngIf="!rutaDeError()">
    <ul class="nav-list"> 
        <li>
            <a routerLink="/home" routerLinkActive="activebutton">
                <div class="icon-container">
                    <app-icon [img]="'home'" [size]="24" class="icon"></app-icon>    
                </div>
            </a>
            <p>Inicio</p>
        </li>
        <li>
            <a routerLink="/education" routerLinkActive="activebutton">
                <div class="icon-container">
                <app-icon [img]="'education'" [size]="24."></app-icon> 
                </div>
            </a>
            <p>Educación</p>
        </li>
        <li>
            <a routerLink="/skills" routerLinkActive="activebutton">
                <div class="icon-container">
                <app-icon [img]="'code'" [size]="24"></app-icon>
                </div>
            </a>
            <p>Habilidades</p>
        </li>
        <li>
            <a routerLink="/contact" routerLinkActive="activebutton">
                <div class="icon-container">
                <app-icon [img]="'contact'" [size]="24"></app-icon>  
                </div>
            </a>
            <p>Contacto</p>
        </li>
    </ul>
</nav>
