nav{
    background-color:  var(--color-terciary);
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
li{
    margin-bottom: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}
