
nav{
    background-color: var(--just-white);
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    padding: 5px 0;
    /* border-radius: 20px 20px 0 0; */
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-container{
    width: 40px;
    text-align: center;
}
li{
    margin-bottom: 3px;
    padding-top: 2px;
    padding-bottom: 3px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    width: 60px;
    height: 32px;
    border-radius: 20px;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
   height: 100%;
}
p{
    margin-top: 5px;
    font-size: 1.3rem;
    color: var(--soft-black);
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.activebutton {
background-color: var(--grey-background);
}
