<nav class="main-nav-bar">
    <ul class="nav-list">
        <li><a routerLink="/home">
            <app-icon [img]="'home'" [size]="40"></app-icon>
        </a></li>
        <li><a routerLink="/education">
            <app-icon [img]="'education'" [size]="40"></app-icon>
        </a></li>
        <li><a routerLink="/skills">
            <app-icon [img]="'code'" [size]="40"></app-icon>
        </a></li>
        <li><a routerLink="/contact">
            <app-icon [img]="'contact'" [size]="40"></app-icon>
        </a></li>
    </ul>
</nav>
