<nav class="main-nav-bar">
    <ul class="nav-list">
        <li><a routerLink="/home" [routerLinkActive]="'active'">
            <app-icon [img]="'home'" [size]="21"></app-icon>
        </a></li>
        <li><a routerLink="/education" routerLinkActive="active">
            <app-icon [img]="'education'" [size]="24.6"></app-icon>
        </a></li>
        <li><a routerLink="/skills" routerLinkActive="active">
            <app-icon [img]="'code'" [size]="30"></app-icon>
        </a></li>
        <li><a routerLink="/contact" routerLinkActive="active">
            <app-icon [img]="'contact'" [size]="28"></app-icon>
        </a></li>
    </ul>
</nav>
