.btn-large-icon{
    display: flex;
    width: 260px;
    height: 45px;
    border-radius: 25px;
    align-items: center;
    justify-content: space-around;
    /* font-family: var(--font-secondary); */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
}

.primary {
    color: var(--just-white);
    background-color: var(--color-primary);
    
    border: none;
}

.secondary{
    color: var(--just-white);
    background-color: var(--color-secondary);
    border: none;

}

.terciary{
    color: var(--color-primary);
    background-color: var(--color-terciary);
    border: none;
}

.outline{
    color: var(--color-primary);
    background-color: var(--just-white);
    border: 1px solid var(--color-primary);
}

.icon-btn{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}