<div class="skills-page">
    <section class="skills-header">
        <h2>Skills</h2>
        <!-- <app-icon [img]="'code'" [size]="40"></app-icon> -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sed, quas tempore, sunt voluptate aliquam enim totam quis voluptates accusamus, delectus iste vel suscipit voluptatibus porro? Minima quis iusto voluptatibus.</p>
    </section>
    <section class="skills-main">

        <!-- Frontend secion -->
        <div class="main-list">
            <h3>Frontend</h3>
            <ul class="main-list-container">
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'html'" [size]="30"></app-icon>
                    </div>
                    <p> HTML 5</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'css'" [size]="30"></app-icon>
                    </div>
                    <p> CSS 3</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'javascript'" [size]="30"></app-icon>
                    </div>
                    <p> Javascript</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'bootstrap-5'" [size]="28"></app-icon>
                    </div>
                    <p>Bootstrap</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'material-ui'" [size]="24"></app-icon>
                    </div>
                    <p>Material UI</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'angular'" [size]="30"></app-icon>
                    </div>
                    <p> Angular</p> 
                    <app-icon [img]="'star'" 
                    [size]="15"  class="icon-star"></app-icon>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'react'" [size]="30"></app-icon>
                    </div>
                    <p> React</p> 
                 </li>
            </ul>
        </div>

        <!-- Backend section -->
        <div class="main-list">
            <h3>Backend</h3>
            <ul class="main-list-container">
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'nodejs2'"></app-icon>
                    </div>
                    <p> NodeJs</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'express'" [size]="30"></app-icon>
                    </div>
                    <p> Express</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'nestjs'" [size]="30"></app-icon>
                    </div>
                    <p> NestJs</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'mysql'" [size]="30"></app-icon>
                    </div>
                    <p> Mysql</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'mongodb'" [size]="40"></app-icon>
                    </div>
                    <p> MongoDb</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'postgresql'" [size]="30"></app-icon>
                    </div>
                    <p> PostgreSQL</p>
                </li>
            </ul>
        </div>

        <!-- Otras section -->
        <div class="main-list">
            <h3>Otras</h3>
            <ul class="main-list-container">
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'git'" [size]="30"></app-icon>
                    </div>
                    <p> Git</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'figma'"></app-icon>
                    </div>
                    <p> Figma</p>
                </li>
            </ul>
        </div>
       
    </section>
</div>
