<div class="skills-page">
    <section class="skills-header">
        <h2>Skills</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sed, quas tempore, sunt voluptate aliquam enim totam quis voluptates accusamus, delectus iste vel suscipit voluptatibus porro? Minima quis iusto voluptatibus.</p>
    </section>
    <section class="skills-main">

        <!-- Frontend secion -->
        <div class="main-list">
            <h3>Frontend</h3>
            <ul class="main-list-container">
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> HTML 5</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> CSS 3</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Javascript</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p>Bootstrap</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Angular Material</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Angular</p> 
                    <app-icon [img]="'whatsapp'" 
                    [size]="15"  class="icon-star"></app-icon>
                </li>
            </ul>
        </div>

        <!-- Backend section -->
        <div class="main-list">
            <h3>Backend</h3>
            <ul class="main-list-container">
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> NodeJs</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Express</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> NestJs</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Mysql</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> PostgreSQL</p>
                </li>
            </ul>
        </div>

        <!-- Otras section -->
        <div class="main-list">
            <h3>Otras</h3>
            <ul class="main-list-container">
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Git</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Scrum</p>
                </li>
                <li class="main-list-item">
                    <div class="icon-container">
                        <app-icon [img]="'whatsapp'"></app-icon>
                    </div>
                    <p> Figma</p>
                </li>
            </ul>
        </div>
       
    </section>
</div>
