<div class="skills-page">
    <section class="skills-header">
        <h2>Skills</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sed, quas tempore, sunt voluptate aliquam enim totam quis voluptates accusamus, delectus iste vel suscipit voluptatibus porro? Minima quis iusto voluptatibus.</p>
    </section>
    <section class="skills-main">
        <div class="main-list-title">
            <h3>Frontend</h3>
            <ul class="main-list-container">
                <li class="main-list-item">
                    <app-icon [img]="'whatsapp'"></app-icon>
                    <p> Nombre de la Habilidad</p>
                </li>
                <li class="main-list-item">
                    <app-icon [img]="'whatsapp'"></app-icon>
                    <p> Nombre de la Habilidad</p>
                </li>
                <li class="main-list-item">
                    <app-icon [img]="'whatsapp'"></app-icon>
                    <p> Nombre de la Habilidad</p>
                </li>
                <li class="main-list-item">
                    <app-icon [img]="'whatsapp'"></app-icon>
                    <p> Nombre de la Habilidad</p>
                </li>
                <li class="main-list-item">
                    <app-icon [img]="'whatsapp'"></app-icon>
                    <p> Nombre de la Habilidad</p>
                </li>
            </ul>
        </div>
    </section>
</div>
