
.home-container{
    background: var(--grey-background);
    padding-bottom: 28px;
}

.presentation-container{
    min-width: 320px;
    max-width: 450px;
    padding: 30px 6%;
    text-align: left;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation-container h1{
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 3.2rem;
    color: var(--just-white);
}

.presentation-container p{
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--grey-font);
    text-align: center;
}

.presentation-buttons-container{
 background-color: var(--color-secondary);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 flex-wrap: wrap;
 margin-top: 30px;
 width: 290px;
 padding: 8px;
 border-radius: 15px;
 height: 160px;
}

.call-to-action{
    text-decoration: none;
}

.presentation-button-primary{
    margin-bottom: 30px;
}

.twits-container{
    padding-top: 55px;
    padding-left: 6%;
    padding-right: 6%;
}
.twit-section-title{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.twit-section-title h2{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--color-primary);
}

.twitter-icon{
    margin-left: 15px;
}

.twit-article{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
